@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,500;0,700;1,700&family=Roboto:wght@500;700&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    width: 100%;
    /* min-height: 100vh; */
    overflow-x: hidden;
    background-color: #F3E5D8;
    /* padding: 20px; */
}
.container{
    padding: 20px;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    place-content: center;
}
.card{
    margin: auto;
    width: 100%;
    max-width: 740px;
    background-color: #FFFFFE;
    border-radius: 16px;
    padding: 40px;
}
.content{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
    border-radius: 16px;
}
.content h1{
    padding: 30px 0;
    font-size: 2.6rem;
    font-weight: 700;
    color: #33322F;
}
.content .easy{
    /* padding: 40px 0px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #8B8683;
    
}
.Preparation{
    margin-top: 40px;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    background-color: #e9dae4;
}
.Preparation h2{
    font-size: 1.3rem;
    color: #77304C;
}
.Preparation ul{
    padding: 20px;
}
.Preparation ul li{
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    color: #9B9392;
}

.Ingredients{
    margin-top: 40px;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    
}
.Ingredients h2{
    font-size: 2.5rem;
    color: #ce603b;
}
.Ingredients ul{
    padding: 20px;
}
.Ingredients ul li{
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    color: #9B9392;
}

.Instructions{
    margin-top: 20px;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    
}
.Instructions h2{
    font-size: 2.5rem;
    color: #ce603b;
}
.Instructions ol{
    padding: 20px;
    color: #ce603b;
}
.Instructions ol li{
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    color: #393736;
}

.Nutrition{
    margin-top: 20px;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    
}
.Nutrition h2{
    font-size: 2.5rem;
    color: #ce603b;
}
.Nutrition .table{
    font-size: 1.2rem;
    color: #393736;
    padding: 20px 0;
}
.Nutrition-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.Nutrition-content .values p{
    border-bottom: 1px solid #393736 ;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}
.Nutrition-content .ee p{
    color: #ce603b;
    font-weight: 600;
}


@media (max-width: 600px){
    .content h1{
        font-size: 2rem;
    }
    .content .easy{
        font-size: 16px;  
    }
    .Ingredients h2{
        font-size: 2rem;
    }
    .Instructions h2{
        font-size: 2rem;
    }
    .Instructions ol li{
        font-size: 16px;
        line-height: 20px;
    }
    .Nutrition h2{
        font-size: 2rem;
    }

}